<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>

<body>
    <header class="navbar-timer">

    </header>
    <div class="form_login">
        <form method="POST">
            <h2>Login</h2>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
            {% if error %}
            <p style="color: red">{{ error }}</p>
            {% endif %}
        </form>
        <a href="{{ url_for('register') }}" class="link_registry">If you don't have an acoount, you can register</a>
    </div>
    <footer class="footer">
        <p class="footer_text">&copy; 2025 Pomodoro App. All rights reserved.</p>
    </footer>
</body>

</html>